<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Person</title>
</head>
<body>
<h2>Update user</h2>
<br>
<form th:method="PATCH" th:action="@{/admin/{id}/edit(id=${getUserById.id})}" th:object="${getUserById}">
    <label for="name">Enter username:     </label>
    <input type="text" th:field="*{username}" id="name"/>
    <br>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br>
    <select id="editRoles" name="roles" multiple size="2" required
            class="form-control form-control-sm">
        <option value="1" >ADMIN</option>
        <option value="2" >USER</option>
    </select>
    <br>
    <input type="submit" value="Обновить!"/>
</form>


<p><a th:href="@{/admin/}"> Admin Page </a></p>
<br>
<a th:href="@{/logout}">Logout</a>
</body>
</html>